#footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
}
#footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px 10px 10px 10px ;
}