p.error {
	color: red;
	margin-top: 10px;
}

#cKTitle {
	font-size: 3vw;
	margin-left: 2vw;
	margin-bottom: 1vw;
}
#ckNoData {
	font-size: 2vw;
	margin-left: 2vw;
	margin-top: 1vw;
	margin-bottom: 3vw;
}
#cKDescription {
	max-width: 33vw;
	height: auto;
}
#ckLinkImg {
	max-width: 33vw;
	text-overflow: ellipsis;
}
