#kTitle {
	margin-left: 2vw;
	font-size: 2vw;
}
#kChildSelectorContainer {
	display: flex;
	align-items: baseline;
}

#kTitleContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2vw;
}
#kindergartenDataContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0vw 2vw 0vw 2vw;
}
#kDescriptionContainer {
	margin-top: 1vw;
	max-width: 33vw;
	height: max-content;
	border-radius: 1vw 1vw 1vw 1vw;
	padding: 1vw 1vw 1vw 1vw;
}
#kImage {
	max-width: 15vw;
	max-height: 15vw;
	border-radius: 1vw 1vw 1vw 1vw;
}
#kDataContainer {
	margin-left: 1vw;
	padding: 1vw 1vw 1vw 1vw;
	border-radius: 1vw 1vw 1vw 1vw;
	max-width: 20vw;
	width: max-content;
	font-size: 1.2vw;
}
#imgAndDataContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.kBtn_green {
	display: inline-flex;
	justify-content: center;
	--padding-x: 1.2em;
	background-color: rgb(175, 255, 175);
	border-color: transparent;
	align-items: center;
	height: 2vw;
	border-radius: 1vw 1vw 1vw 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	font-size: 1.2vw;
	padding: 1vw 2vw 1vw 2vw;
}
.kBtn_green:hover {
	text-decoration: none !important;
	background-color: rgba(175, 255, 175, 0.9);
	border-color: transparent;
}
.kBtn_blue {
	display: inline-flex;
	justify-content: center;
	--padding-x: 1.2em;
	background-color: rgba(37, 174, 206, 1);
	border-color: transparent;
	align-items: center;
	height: 2vw;
	border-radius: 1vw 1vw 1vw 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	font-size: 1.2vw;
	padding: 1vw 2vw 1vw 2vw;
}
.kBtn_blue:hover {
	text-decoration: none !important;
	background-color: rgba(37, 174, 206, 0.8);
	border-color: transparent;
}
.kBtn_pink {
	display: inline-flex;
	justify-content: center;
	--padding-x: 1.2em;
	background-color: rgba(255, 192, 203, 1);
	border-color: transparent;
	align-items: center;
	height: 2vw;
	border-radius: 1vw 1vw 1vw 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	font-size: 1.2vw;
	padding: 1vw 2vw 1vw 2vw;
}
.kBtn_pink:hover {
	text-decoration: none !important;
	background-color: rgba(255, 192, 203, 0.8);
	border-color: transparent;
}
#kAdditionalContainer {
	display: flex;
	max-width: 20vw;
	flex-direction: column;
	margin-bottom: 2vw;
	align-items: center;
}
#kRequestContainer {
	display: flex;
	flex-direction: column;
}
#kChoseLbl {
	margin-right: 1vw;
	font-size: 1.2vw;
	min-width: 8vw;
}
#kChildSelector {
	padding-left: 1vw;
	padding-right: 1vw;
	background-color: rgba(175, 255, 175, 0.8);
	margin-bottom: 0.5vw;
	font-size: 1.3vw;
}
#kMessageContainer {
	display: flex;
	flex-direction: column;
}
textarea {
	padding: 1vw 1vw 1vw 1vw;
	font-size: 1vw;
}

.hide {
	display: none;
}
#kostyl {
	display: flex;
	border-radius: 2vw;
	width: max-content;
	margin-bottom: 2vw;
	padding-bottom: 2vw;
	padding-top: 1vw;
}
